body, html {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.container {
    text-align: center;
    position: relative;
    z-index: 1;
    width: 90%; /* Ajusta o tamanho para dispositivos móveis */
    max-width: 390px; /* Limita a largura máxima */
    margin: 50px auto;
    padding: 30px; /* Tamanho Vertical do Fundo semi-transparente */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo semi-transparente */
}

h1, label {
    color: #fff;
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #6f00ff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 10px;
    flex-direction:row ;
    align-items:center ;
}

.button-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.button img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px; /* Espaço entre a imagem e o texto */
}

.button span {
    margin: 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.profile-photo {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10%;
    object-fit: fill;
    margin-bottom: 10px;
}

/* para deixar a tela com resolução que se adapta para dispositivos moveis */
@media (max-width: 600px) {
    h1, label {
        font-size: 1.5em;
    }

    .button img {
        width: 50px;
        height: 45px;
    }

    .button span {
        font-size: 12px;
    }

    .container {
        padding: 20px;
    }
}